<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Guitar Players Data API</title>
<link type="text/css" rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.2.3.min.js"
	integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body ng-app="GpdApiApp">
	<script src="js/main.js"></script>
	<script src="js/controllers/GuitarPlayersDataApiController.js"></script>
	<div class="container-fluid text-center">
		<div ng-controller="GuitarPlayersDataApiController">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">GPD API</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="#guitarPlayerForms"
							ng-click="GetAllGuitarPlayers()">guitar players</a></li>
						<li><a href="#songsTable" ng-click="ShowAllSongs()">songs</a></li>
						<li><a href="#albumsTable" ng-click="ShowAllAlbums()">albums</a></li>
						<li><a href="/AddGuitarPlayer.html">add guitar player</a></li>
					</ul>
				</div>
			</nav>

			<h1 class="text-center text-primary">Add Guitar Player</h1>

			<form ng-submit="addGuitarPlayer()" class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-2">name</label>
					<div class="col-sm-10">
						<input class="form-control" ng-model="guitarPlayerForm.name" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2">lastname</label>
					<div class="col-sm-10">
						<input class="form-control" ng-model="guitarPlayerForm.lastname" />
					</div>
				</div>


				<div class="form-group">
					<label class="control-label col-sm-2">age</label>
					<div class="col-sm-10">
						<input class="form-control" ng-model="guitarPlayerForm.age" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">is alive</label>
					<div class="col-sm-10">
						<input type="checkbox" class="form-label"
							ng-model="guitarPlayerForm.heIsAlive" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">nationality</label>
					<div class="col-sm-10">
						<input class="form-control" ng-model="guitarPlayerForm.nationality" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">dateOfBirth</label>
					<div class="col-sm-10">
						<input class="form-control" ng-model="guitarPlayerForm.dateOfBirth" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">guitar</label>
					<div class="col-sm-10">
						<select class="form-control" ng-model="guitarPlayerForm.guitarId">
							<option ng-repeat="guitar in guitars"
								value="{{guitar.modelVersionName}}">{{guitar.brand.name}}&nbsp;{{guitar.modelName}}</option>
						</select>
					</div>
				</div>
				<div class="form-actions floatRight">
					<input type="submit" value="Add" class="btn btn-primary btn-sm" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>