<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Guitar Players Data API</title>
<link type="text/css" rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.2.3.min.js"
	integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body ng-app="GpdApiApp">
	<div ng-controller="GuitarPlayersDataApiController">
		<div class="container-fluid">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">GPD API</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="#guitarPlayers" ng-click="GetAllGuitarPlayers()">guitar
								players</a></li>
						<li><a href="#songsTable" ng-click="ShowAllSongs()">songs</a></li>
						<li><a href="#albumsTable" ng-click="ShowAllAlbums()">albums</a></li>
						<li><a href="/AddGuitarPlayer.html">add guitar player</a></li>
					</ul>
				</div>
			</nav>
			<script src="js/main.js"></script>
			<script src="js/controllers/GuitarPlayersDataApiController.js"></script>
			<h1 class="text-center text-primary">Guitar Players Data API</h1>

			<div ng-if="guitarPlayers">
				<table id="guitarPlayers"
					class="table table-bordered table-stripped">
					<thead>
						<tr>
							<th>name and lastname</th>
							<th>nationality</th>
							<th>date if birth</th>
							<th>age</th>
							<th>guitars</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="player in guitarPlayers">
							<td><p>{{player.name}}&nbsp;{{player.lastname}}</p></td>
							<td><p>{{player.nationality}}</p></td>
							<td><p>{{player.dateOfBirth}}</p></td>
							<td><p>{{player.age}}</p></td>
							<td>
								<div ng-repeat="guitar in player.guitars">
									<a target="_blank" href="{{guitar.brand.webSite}}">{{guitar.brand.name}}</a>&nbsp;-&nbsp;{{guitar.modelName}}&nbsp;[avg
									price:&nbsp;{{guitar.avgPrice | currency}}]
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<br> <br>
			</div>

			<div ng-if="songs">
				<table id="songsTable" class="table table-bordered table-stripped">
					<thead>
						<tr>
							<th>name</th>
							<th>author</th>
							<th>duration</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="song in songs">
							<td><p>{{song.title}}</p></td>
							<td>
								<div ng-repeat="author in song.authors">
									<p>{{author.name}}&nbsp;{{author.lastname}}</p>
								</div>
							</td>
							<td><p>{{song.duration}}</p></td>
						</tr>
					</tbody>
				</table>
				<br> <br>
			</div>

			<div ng-if="albums">
				<table id="albumsTable" class="table table-bordered table-stripped">
					<thead>
						<tr>
							<th>title</th>
							<th>authors</th>
							<th>tracks</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="album in albums">
							<td><p>{{album.title}}</p></td>
							<td>
								<div ng-repeat="albumAuthor in album.authors">
									<p>{{albumAuthor.name}}&nbsp;{{albumAuthor.lastname}}</p>
								</div>
							</td>
							<td>
								<ul>
									<div ng-repeat="track in album.tracks">
										<li>
											<p>{{track.title}}&nbsp;{{track.duration}}</p>
										</li>
									</div>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>