<h1>Songs</h1>
<br>
<br>
<div ng-controller="SongsController">
	<table id="songsTable" class="table table-bordered table-stripped">
		<thead>
			<tr>
				<th>name</th>
				<th>album title</th>
				<th>author</th>
				<th>duration</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="song in songs">
				<td><p>{{song.title}}</p></td>
				<td><p>{{song.albumTitle}}</p></td>
				<td>
					<div ng-repeat="author in song.authors">
						<a href="{{author._links.self.href}}">{{author.name}}&nbsp;{{author.lastname}}</a>
					</div>
				</td>
				<td><p>{{song.duration}}</p></td>
			</tr>
		</tbody>
	</table>
</div>